[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
scikit-learn = "*"
pillow = "*"
tensorflow-gpu = "*"
jupyter-tensorboard = "*"
tensorlayer = "*"
tensorflow-hub = "*"
"h5py" = "*"

[dev-packages]

[requires]
python_version = "3.6"
